.loginFormContainer {
    margin-top: 50px;
    text-align: center;
    padding: 0 30px;
    height: 100vh;
}

.loginFormContainer h1 {
    margin-bottom: 40px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;
    height: 100vh;
}

.loginForm label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: inline;
    text-align: left;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.loginForm button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: hsl(165, 56%, 33%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: hsl(165, 56%, 25%);
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 600px) {
    .loginForm {
        padding: 0 20px;
    }

    .loginForm label {
        text-align: left;
    }

}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 1025px) {}
