.productMainContainer {
    padding: 50px;
    /* position: relative; */
    text-align: center;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productName {
    text-align: center;
    margin-bottom: 20px;
}

#pastel-button {
    position: sticky;
    display: flex;
    top: 140px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
    width: 15%;
    cursor: pointer;
    text-align: center;
    border: dashed 1px #f7a38b;
    background-color: rgba(247, 163, 139, 0.25);
    margin-left: 100px;
    padding: 15px 25px;
}

.pastel-button-text {
    text-transform: uppercase;
    float: right;
    font-size: 0.8rem;
}

.arrow-icon {
    color: black;
    font-size: 1.5rem;
}

#pastel-button a {
    color: black;
}


.productImage {
    display: block;
    margin: 20px auto;
    width: 300px;
}

.productColors {
    text-align: center;
}


.productDescription {
    width: 60%;
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.25rem;
}

.greenButton {
    padding: 15px 25px;
    border-radius: 25px;
    width: 20%;
    cursor: pointer;
    text-align: center;
    background-color: hsl(165, 56%, 33%);
    color: white;
    margin: 30px auto;
}


@media screen and (min-width: 375px) {


}
@media screen and (min-width: 481px) {
  

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 769px) {
    

}

@media screen and (min-width: 1025px) {
   

}