.pastelButton {
    position: absolute;
    display: flex;
    top: 140px;
    padding: 10px 20px;
    border-radius: 30px;
    width: 40%;
    cursor: pointer;
    text-align: center;
    border: dashed 1px #f7a38b;
    background-color: rgba(247, 163, 139, 0.25);
    margin-left: 25px;
}

.pastelButtonText {
    text-transform: uppercase;
    font-size: 0.6rem;
}

.arrowIcon {
    font-size: 1.2rem;
}

/* redundant code that is used multiple times */

.productLink {
    text-decoration: none; /* Remove underlining */
    color: inherit; /* Inherit text color */
    display: inline-block; /* Ensure each link behaves like a block element */
    width: 100%; /* Ensure each link takes up the full width of its container */
}

@media screen and (min-width: 375px) {
    
    .pastelButtonText {
        font-size: 0.9rem;
    }
    
    .arrowIcon {
        margin-top: 2px;
        font-size: 1.4rem;
    }

}
@media screen and (min-width: 481px) {
    .pastelButton {
        width: 30%;
    }


}

@media screen and (min-width: 600px) {
    .pastelButton {
        width: 40%;
    }
}

@media screen and (min-width: 769px) {
    .pastelButton {
        padding: 12px 20px;
        width: 12%;
        margin-left: 150px;
    }
    
    .pastelButtonText {
        font-size: 0.8rem;
    }
    
    .arrowIcon {
        margin-top: 2px;
        font-size: 1.4rem;
    }

}

@media screen and (min-width: 1025px) {
   

}