
.paymentOption {
    margin: 10px auto;
    background-color: white;
    border: 0;
}


@media screen and (min-width: 375px) {


 
}
@media screen and (min-width: 481px) {
 

}

@media screen and (min-width: 600px) {
   
}

@media screen and (min-width: 769px) {


}

@media screen and (min-width: 1025px) {
   
   
}