.productCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    height: 20%;
    margin: 10px 1rem;
    cursor: pointer;
    border: dashed 2px hsl(165, 56%, 33%);
    border-radius: 20px;
    padding: 20px;
}

.productCard img {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

.productCard h3 {
    font-family: Didact Gothic;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.productCard .priceText {
    font-size: 2rem;
    font-weight: bold;
}

.productLink {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 481px) {
    
}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 769px) {


    .productCard {
        width: 30%;
        height: 30%;
        border: dashed 1px hsl(165, 56%, 33%);
    }

    .productCard h3 {
        font-size: 1.25rem;
    }

    .productCard p {
        font-size: 1rem;
    }

    .productCard .priceText {
        font-size: 1.5rem;
    }

    .productCard img {
        width: 250px;
        height: 250px;
        margin: 10px;
    }

    .productCard h3 {
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 1025px) {}