.productCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
}


@media screen and (min-width: 375px) {}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 600px) {
    .productCardContainer {
        width: 70%;
    }

}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 1025px) {}