.productCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 20%;
    margin: 10px 1rem;
    cursor: pointer;
}

.productCard p {
    font-size: 0.75rem;
}

.productCard img {
    width: 100%;
    height: 100%;
}

.productCard h3 {
    font-size: 1rem;
    font-family: Didact Gothic;
    margin-top: 10px;
    margin-bottom: 20px;
}

.productLink {
    text-decoration: none; /* Remove underlining */
    color: inherit; /* Inherit text color */
    display: inline-block; /* Ensure each link behaves like a block element */
    width: 100%; /* Ensure each link takes up the full width of its container */
}

@media screen and (min-width: 375px) {


}
@media screen and (min-width: 481px) {
  

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 769px) {
    
    .productCard {
        width: 30%;
        height: 30%;
    }

    .productCard h3 {
        font-size: 1.25rem;
    }

    .productCard p {
        font-size: 1rem;
    }

    .product-card img {
        width: 80%;
        height: 80%;
    }

    .product-card h3 {
        font-size: 1.25rem;
    }

}

@media screen and (min-width: 1025px) {
   

}