.shoppingCart {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 140px;
    right: 35px;
    background-color: rgb(54, 191, 157, 0.10);
    border: dashed 1px black;
    border-radius: 25px;
    width: 40%;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.8rem;
}

.shoppingCartIcon {
    font-size: 0.8rem;
}

@media screen and (min-width: 375px) {
 

}
@media screen and (min-width: 481px) {
    .shoppingCart {
        width: 35%;
    }

}

@media screen and (min-width: 600px) {
    .shoppingCart {
        width: 30%;
    }

}

@media screen and (min-width: 769px) {
    .shoppingCart {
        width: 15%;
        font-size: 0.9rem;
    }

    .shoppingCartIcon {
        font-size: 1rem;
    }


}

@media screen and (min-width: 1025px) {

}